version: "3.9"

services:
  backend:
    build: .
    container_name: rossari_backend
    ports:
      - "5000:5000"
    restart: always
    env_file:
      - .env
    environment:
      NODE_ENV: production
